@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Blinker;
  scroll-behavior: smooth;
}

/* Global Styles */

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 0 12px;
  margin: 0 auto;
}

.color-primary {
  color: #d81414;
}


/* Products - Global Styles */

.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product {
  width: calc(25% - 12px);
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 200ms ease;
}

.product:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.product__img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.product__details {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product__details__title {
  font-weight: 400;
  font-size: 18px;
}

.product__details__price {
  font-size: 22px;
  font-weight: 600;
}

/* Navigation */

.nav {
  box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.2);
  height: 88px;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.nav__logo {
  width: 80px;
}

.nav__links {
  display: flex;
  gap: 24px;
}

.nav__link {
  font-size: 18px;
  text-transform: uppercase;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__cart {
  background: none;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__cart__icon {
  font-size: 20px;
}

.cart__length {
  background-color: red;
  color: #fff;
  width: 16px;
  height: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  right: -8px;
  pointer-events: none;
}

.nav__menu {
  background-color: transparent;
  border: none;
  font-size: 24px;
  display: none;
}

/* Menu */

.menu {
  position: fixed;
  background-color: #f8f8f8;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease;
}

.menu-open {
  visibility: visible;
  opacity: 1;
}

.menu__close {
  position: absolute;
  top: 44px;
  right: 32px;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.menu__link {
  font-size: 32px;
}

.menu__cart {
  background-color: transparent;
  border: none;
}

/* Cart */

.cart__wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 30;
  backdrop-filter: blur(2px);
  justify-content: end;
  visibility: hidden;
  opacity: 0;
  display: flex;
  transition: 300ms ease;
}

.cart-open.cart__wrapper {
  visibility: visible;
  opacity: 1;
}

.cart {
  background-color: white;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  max-width: 480px;
  transition: 300ms ease;
  display: flex;
  flex-direction: column;
}

.cart-open .cart {
  transform: translateX(0%);
}

.cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  border-bottom: 1px solid #f5f5f5;
}

.cart__header__title {
  font-size: 24px;
  font-weight: 400;
}

.cart__header__close {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
  transition: 200ms ease;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: calc(100vh - 129px - 70px);
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.cart__items::-webkit-scrollbar {
  /* Safari and Chrome */
  width: 0;
  height: 0;
}

.cart__item {
  width: 100%;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #f5f5f5;
  padding: 16px;
  position: relative;
}

.cart__item__left {
  width: 96px;
}

.cart__item__img {
  max-width: 100%;
}

.cart__item__title {
  font-size: 16px;
  font-weight: 500;
}

.cart__item__mid,
.cart__item__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__item__mid {
  padding: 8px 0;
  gap: 4px;
}

.cart__item__quantity {
  display: flex;
}

.cart__item__quantity__amount {
  border-color: #000;
  border-style: solid;
  border-width: 1px 0;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__item__quantity__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 4px 8px;
}

.cart__item__price {
  font-size: 24px;
  font-weight: 500;
}

.cart__item__remove {
  cursor: pointer;
  font-size: 22px;
  padding: 8px;
  color: #e0e0e0;
  position: absolute;
  right: 24px;
  top: 16px;
}

.cart__footer {
  border-top: 1px solid #f5f5f5;
  margin-top: 18px;
  padding: 16px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__footer__details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.cart__footer__title {
  font-weight: 700;
  font-size: 24px;
}

.cart__footer__subtotal {
  font-size: 22px;
}

.cart__empty {
  display: flex;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.cart__empty__img {
  width: 50%;
}

.cart__empty__text {
  font-size: 24px;
}

.cart__empty__btn,
.cart__footer__btn {
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  font-weight: 700;
  padding: 12px;
  text-transform: uppercase;
  transition: 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__footer__btn {
  font-size: 16px;
}

.cart__empty__btn {
  font-size: 14px;
}

.cart__empty__btn:hover,
.cart__footer__btn:hover {
  border-color: #000;
  background-color: transparent;
  color: #000;
}

/* Header */

.header__row {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header__grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.header__grid {
  width: calc(50% - 8px);
  height: 280px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.header__grid__title {
  position: absolute;
  left: 24px;
  bottom: 24px;
  font-size: 32px;
  color: white;
  font-weight: 600;
  z-index: 2;
}

.header__grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
  transition: 200ms ease;
}

.header__grid:hover .header__grid__img {
  filter: brightness(55%);
}

/* Products - Section */

.products__row {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.products__title {
  font-size: 26px;
  font-weight: 600;
}

/* Banner */

.banner {
  display: flex;
  background-color: #e9e9e9;
  height: 400px;
}

.banner__text,
.banner__img {
  width: 50%;
}

.banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 0 120px;
}

.banner__text__title {
  font-size: 32px;
}

.banner__text__para {
  font-size: 18px;
}

.banner__text__btn {
  background-color: #000;
  border: 2px solid transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  padding: 12px;
  text-transform: uppercase;
  transition: 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__text__btn:hover {
  border-color: #000;
  background-color: transparent;
  color: #000;
}

.banner__img {
  height: 100%;
  object-fit: cover;
}

/* Banner 2 */

.banner-2 {
  flex-direction: row-reverse;
}

/* Newsletter */

#newsletter {
  background-color: #191919;
  color: white;
}

.newsletter__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.newsletter__title {
  font-size: 36px;
}

.newsletter__form {
  display: flex;
  gap: 8px;
}

.newsletter__form__input {
  width: 240px;
  height: 100%;
  padding: 8px;
  outline: none;
  border: none;
  font-size: 18px;
}

.newsletter__form__submit {
  height: 100%;
  font-size: 18px;
  padding: 8px;
  outline: none;
  border: none;
  cursor: not-allowed;
}

/* Footer */

footer {
  background-color: #000;
  color: white;
}

.footer__container {
  padding: 40px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.footer__link {
  color: white;
  font-size: 18px;
  cursor: not-allowed;
}

/* 

PRODUCTS PAGE

*/

#all-products {
  min-height: 50vh;
}

.all-products__row {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__header__link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.products__header__link__text {
  font-size: 20px;
  font-weight: 600;
}

.products__header__title {
  font-size: 28px;
  text-transform: uppercase;
}

.products__header__filter {
  padding: 4px;
  background-color: #f4f4f4;
  font-size: 15px;
  font-weight: 500;
  color: #292929;
  cursor: pointer;
  border: none;
  outline: none;
}

.skeleton {
  background-color: #dddbdd;
  color: #dddbdd;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.2) 20%,
    hsla(0, 0%, 100%, 0.5) 60%,
    hsla(0, 0%, 100%, 0)
  );
  animation: shimmer 1.2s infinite;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.product--skeleton:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.product__name--skeleton {
  width: 70%;
  height: 20px;
}

.product__price--skeleton {
  width: 40%;
  height: 20px;
}

.success {
  position: fixed;
  top: 64px;
  left: 50%;
  transform: translate(-50%, -300%);
  z-index: 10;
  width: 240px;
  background: #000;
  color: white;
  padding: 16px 0px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 500ms;
}

.success-open {
  transform: translate(-50%, 0%);
}

/* 

SELECTED PRODUCT PAGE

*/

.product-page__row {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.selected-product {
  display: flex;
}

.selected-product__left,
.selected-product__right {
  width: 50%;
  height: 100%;
}

.selected-product__img__wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.selected-product__img {
  height: 100%;
  object-fit: cover;
  width: 75%;
  aspect-ratio: 1 / 1.1;
}

.selected-product__img__options {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  padding: 32px 20px;
  width: 100%;
}

.selected-product__img__option {
  cursor: pointer;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 22%;
  border: 2px rgba(0, 0, 0, 0.2) solid;
  transition: 200ms ease;
}

.selected-product__img__option:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.selected-product__right {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 80px;
  gap: 52px;
  height: 100%;
}

.selected-product__title {
  font-size: 36px;
}

.selected-product__para {
  font-size: 20px;
  line-height: 1.5;
}

.selected-product__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
}

.selected-product__quantity__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-product__quantity__btn {
  background-color: #fff;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 28px;
  height: 48px;
  width: 48px;
  border: 1px solid;
}

.selected-product__quantity__amount {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  border: 1px solid;
  margin: 0 -1px;
}

.selected-product__quantity__span {
  font-size: 28px;
  display: flex;
}

.selected-product__quantity__span-1 {
  justify-content: start;
}

.selected-product__quantity__span-2 {
  justify-content: end;
}

.selected-product__add {
  background-color: #d81414;
  color: white;
  border: 2px transparent solid;
  height: 48px;
  font-size: 20px;
  text-transform: uppercase;
  transition: 200ms;
}

.selected-product__add:hover {
  background-color: #b70909;
}

.specifications {
  display: flex;
  gap: 20px;
}

.spec {
  width: 33%;
  background-color: #e5e5e5;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.spec__detail {
  font-size: 16px;
}

.recommendations {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.selected-product__img--skeleton {
  height: 100%;
  width: 75%;
  aspect-ratio: 1 / 1;
}

.selected-product__img__option--skeleton {
  width: 22%;
  aspect-ratio: 1 / 1;
}

.selected-product__title--skeleton {
  width: 40%;
  height: 48px;
}

.selected-product__para--skeleton {
  width: 100%;
  height: 24px;
}

.selected-product__para--skeleton__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selected-product__quantity__amount__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selected-product__quantity__btn--skeleton,
.selected-product__quantity__amount--skeleton {
  height: 48px;
  width: 48px;
}

.selected-product__quantity__span--skeleton {
  display: flex;
  font-size: 28px;
}

.spec--skeleton {
  height: 104px;
  width: 33%;
}

.selected-product__add--skeleton {
  width: 100%;
  height: 48px;
}

/* LG Screens - Laptops*/

@media (max-width: 1024px) {
  /* Products */

  .product__details__title {
    font-size: 16px;
  }

  /* Banner */

  .banner__text {
    padding: 0 80px;
  }

  /* 

SELECTED PRODUCT PAGE

*/

  .selected-product__right {
    padding-top: 0px;
    padding-bottom: 40px;
    gap: 32px;
  }

  .selected-product__title {
    font-size: 32px;
  }

  .selected-product__para {
    font-size: 18px;
  }

  .selected-product__quantity__span {
    width: fit-content;
  }
}

/* MD Screens - Tablets */

@media (max-width: 768px) {
  /* Products */

  .product {
    width: 31%;
  }

  /* Banner */

  .banner__text {
    width: 100%;
  }

  .banner__img {
    display: none;
  }

  /* 

SELECTED PRODUCT PAGE

*/

  .selected-product {
    flex-direction: column-reverse;
  }

  .selected-product__right,
  .selected-product__left {
    width: 100%;
  }

  .selected-product__right {
    gap: 24px;
  }

  .selected-product__quantity__span,
  .selected-product__quantity__btn,
  .selected-product__quantity__amount {
    font-size: 24px;
  }

  .selected-product__title {
    font-size: 32px;
  }

  .selected-product__para {
    font-size: 16px;
  }

  .selected-product__img--skeleton {
    margin-top: 36px;
    aspect-ratio: 1 / 1;
  }
}

/* SM Screens */

@media (max-width: 640px) {
  /* Navigation */

  .nav__menu {
    display: block;
  }

  .nav__link {
    display: none;
  }

  /* Header */

  .header__title {
    text-align: center;
  }

  .header__grid__title {
    font-size: 24px;
    left: 12px;
  }

  /* Products */

  .product {
    width: 48%;
  }

  /* Banner */

  .banner__text {
    padding: 0 40px;
  }
}

/* Mobile Devices */

@media (max-width: 480px) {
  /* Header */

  .header__grid__title {
    left: 4px;
    bottom: 4px;
  }

  /* Products */

  .product {
    width: 100%;
  }

  /* Newsletter */

  .newsletter__form {
    flex-direction: column;
  }

  .newsletter__form__input {
    text-align: center;
  }

  /* Cart */

  .cart__item {
    padding: 12px 20px;
    justify-content: space-between;
  }

  .cart__item__left {
    display: none;
  }

  /* 
  
  PRODUCTS PAGE
  
  */

  .products__header {
    flex-direction: column;
    gap: 16px;
  }

  /* 

SELECTED PRODUCT PAGE

*/

  .selected-product__quantity {
    flex-direction: column;
    gap: 12px;
  }

  .specifications {
    flex-direction: column;
  }

  .spec,
  .spec--skeleton {
    width: 100%;
  }
}